*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.leftDiv{
    width: 30%;
    gap: 40px;
}

.compsDiv{
    padding: 10px;
    width: 70%;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 228, 196, 0.499);
}

.comp{
    width: 22%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.comp p{
    margin: 0;
    width: 100%;
    text-align: left;
}

.detailedInfoDiv{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.modal-body img{
    margin-top: 20px;
}

.paramsDiv{
    align-items: start;
    display: flex;
    flex-direction: column;
}

.paramsDiv p{
    margin: 0px;
}